.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(253,41,123);
    background: linear-gradient(45deg, rgba(253,41,123,1) 0%, rgba(255,88,100,1) 50%, rgba(255,101,91,1) 100%);
}
